<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="all-med content">
        <h2>All Med</h2>
        <% if(meds.length>0) { %>
            <% meds.forEach(med =>{ %>
                <a class="single" href="/med/<%= med._id %>">
                    <h3 class="title"><%= med.title %></h3>
                    <p class="snippet"><%= med.composition %></p>
                    
                <br>
                </a>
            <% }) %>
        <% } else { %>
            <h4>Nothing to display</h4>
        <% } %>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>